html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.btn-xl {
    padding: 20px 40px;
    border-color: #D65B12;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #D65B12;
}

@media only screen and (max-device-width: 480px) {
    .btn-xl {
        padding: 10px 20px;
    }
    .header-section h1 {
        margin-top: 0;
    }
    .header-section a {
        margin-bottom: 30px;
    }
}

h1, h2, h3 {
    font-size: 36px;
    margin: 50px 0;
    text-transform: uppercase;
}

.header-section img {
    max-width: 90%;
}

.block-text {
    font-size: large;
    max-width: 700px;
    margin: 0 auto;
}

.table {
    text-align: left;
}

.timeline-title {
    color: #D65B12;
}

.timeline-heading h4 {
    margin: 0;
}

.timeline-heading p {
    margin: 0;
}

.timeline-body hr {
    margin: 5px 0;
}

.text-muted {
    color: #d1d1d1;
}

.text-muted a {
    color: #d1d1d1;
    text-decoration: underline;
}

.faq-section h4 {
    color: #3C5265;
    text-align: left;
}

.faq-section p {
    margin-bottom: 30px;
    text-align: left;
}

.faq-section a {
    color: #fff;
    text-decoration: underline;
}

.sponsors-section a {
    color: #D65B12;
    text-decoration: underline;
}

.sponsors-section img {
    /*max-height: 200px;
    max-width: 400px;*/
    max-height: 200px;
    max-width: 80%;
    margin: 25px;
}

a.sponsor-text-logo {
    color: #000000;
    font-size: 7.0vw;
    text-decoration: none;
}

.footer-row {
    font-size: 20px;
}

.footer-row a {
    color: #fff;
}





.header-section {
    /*background: url("../img/Uniparken_WEB.jpg") no-repeat center center fixed;*/
    text-align: center;
    color: #D65B12;
    background: #fff;
    min-height: 95%;
}

.what-section {
    background-color: #D65B12;
    color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
}

.schedule-section {
    background-color: #3C5265;
    color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
}

.faq-section {
    background-color: #EFA021;
    color: #ffffff;
    text-align: center;
    font-size: large;
    padding-bottom: 50px;
}

.sponsors-section {
    background-color: #fff;
    color: #D65B12;
    text-align: center;
}

.contact-section {
    background-color: #364759;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.footer-row {
    margin-top: 100px;
    margin-bottom: 50px;
}