#sponsors img {
    width: 400px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#sponsors .sponsor-tile {

}

#sponsors a {
    height: 300px;
    display: block;
    background-color: white;
    border-radius: 25px;
}